@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruluko&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 328 89% 61%;         /* Electric Rose */
    --primary-foreground: 0 0% 98%;

    --secondary: 228 95% 48%;       /* Deep Pulse */
    --secondary-foreground: 0 0% 98%;

    --accent: 134 33% 42%;          /* Urban Moss */
    --accent-foreground: 0 0% 98%;

    --highlight: 54 95% 48%;        /* Flashbeam Yellow */
    --highlight-foreground: 0 0% 9%;

    --destructive: 6 66% 54%;       /* Brickfire */
    --destructive-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    max-width: 100vw !important;
    overflow-x: hidden !important;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 328 89% 61%;         /* Electric Rose */
    --primary-foreground: 0 0% 98%;

    --secondary: 228 95% 48%;       /* Deep Pulse */
    --secondary-foreground: 0 0% 98%;

    --accent: 134 33% 42%;          /* Urban Moss */
    --accent-foreground: 0 0% 98%;

    --highlight: 54 95% 48%;        /* Flashbeam Yellow */
    --highlight-foreground: 0 0% 9%;

    --destructive: 6 66% 54%;       /* Brickfire */
    --destructive-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer prose-m-none {
  * {
    @apply prose-headings:m-0;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
